/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wht@300;400;500;600;700&display=swap');


/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 6rem;

  /*========== Colors ==========*/
  /* Color mode HSL(hue, saturation, lightness) */
  --first-color: #35063e;
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 77%);
  --body-color: hsl(0, 0%, 6%);
  --container-color: hsl(0, 0%, 10%);
  --border-color: hsla(0, 0%, 100%, 0.2);

  /*========== Font and typography ==========*/
  /* .5rem = 8px | 1rem = 16px ... */
  --body-font: 'Poppins', sans-serif;
  --second-font: 'Montserrat', sans-serif;

  --big-font-size: 4.5rem ;
  --h1-font-size: 3.75rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --normal-font-size: 1.125rem;
  --small-font-size: 1rem;
  --smaller-font-size: 0.875rem;

  /*========== Font weight ==========*/
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
  --weight-900: 900;

  /*========== Transition ==========*/
  --transition: cubic-bezier(0.05, 0.2, 0.1, 1);

  /*========== Border Radius ==========*/
  --radius: .5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --h2-font-size: ;
    --h3-font-size: ;
    --normal-font-size: ;
    --small-font-size: ;
    --smaller-font-size: ;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input,
textarea,
body {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-300);
}

body {
    background-color: var(--body-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--weight-700);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.67em;

}


textarea,
input {
    background-color: none;
    outline: none;
    border: none;

}

/*=============== REUSABLE CSS CLASSES ===============*/

.container{
    max-width: 1300px;
    margin-inline: auto;
    padding-inline: 0.7rem;
}

.grid{
    display: grid;
    gap: 1.75rem;
}

.section {
    padding-block: 8rem;

}

.section__title {
    font-size: var(--h1-font-size);
    margin-bottom: 1rem;
}

.section__title:not(.about .section__title),
.section_description {
    text-align: center;

}

.section__description {
    max-width: 600px;
    margin-inline: auto;
}

.section__description{
    max-width: 600px;
    margin-inline: auto;
    margin-bottom: 3.74rem;

}

.subsection__title {
    font-size: 2rem;
    color: var(--first-color);
    margin-bottom: 2rem;
    margin-top: 4rem;
    text-align: center;
    font-weight: var(--weight-700);
}



/*=============== HEADER & NAV ===============*/

.header {
    background-color: var(--container-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-fixed);

}

.nav,
.nav__list,
.nav__socials {
    display: flex;
}

.nav {
    height: calc( var(--header-height) + 1.5rem);
    align-items: center;
    justify-content: space-between;
    column-gap: 3.5rem;
}


.nav__logo {
    color: var(--title-color);
    font-size: 2.5rem;
    font-weight: var(--weight-700);

}

.nav__list {
    column-gap: 2rem;
    list-style: none;
}

.nav__link,
.nav__social-link {
    color: var(--title-color);
    font-size: var(--medium-font-size);
    transition: all 0.3s var(--transition)
}

.nav__social-link i {
    font-size: 2rem; /* bigger icons */
}

.nav__link {
    font-weight: var(--weight-500);

}

.nav__socials {
    
    column-gap: 1.5rem;
    
}

.nav__toggle,
.nav__close {
    display: none;
}

.nav__social-link:hover {
    color: var(--first-color);
    transform: translateY(-0.25rem);
}

.nav__link-btn {
    font-size: var(--small-font-size);
    background-color: transparent;
    border-color: var(--border-color);
    padding: 0.625rem 1.25rem;

}

.nav__link-btn:hover {
    background-color: var(--first-color);
    border-color: var(--first-color);
    color: var(--title-color);

}



/* Active link */

/* Navbar links */
.nav__link {
    color: var(--title-color); /* default white */
    font-weight: var(--weight-500);
    transition: color 0.3s;
}

/* Hover effect */
.nav__link:hover {
    color: var(--first-color); /* purple */
}

/* Active (clicked) link */
.nav__link.active-link {
    color: var(--first-color); /* stays purple */
}
/* Change background header */

/*=============== HOME ===============*/

.home{
    padding-block: 8rem 6rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
}


.home__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 4rem;

}

.home__subtitle{
    font-size: var(--small-font-size);
    font-weight: var(--weight-400);
    letter-spacing: 0.25rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    display: block;
}

.home__title{
    font-family: var(--second-font);
    font-size: var(--big-font-size);
    font-weight: var(--weight-900);
}

.home__title span {
    color: var(--first-color);
}

.home__img {
    width: 500px;
    height: 520px;
    border-radius: 50%;
    border: 0.75rem solid var(--container-color);
    margin: 0 auto;
    object-fit: cover;

}




/*=============== ABOUT ===============*/

.about{
    background-color: var(--container-color);
    padding-top: 10rem;
    width: 100%;
    min-height: 100vh; /* ensures it takes full viewport height */
}

.about__container{
    display: grid;
    grid-template-columns: 5fr 7fr;
    align-items: start;
    column-gap: 4rem;
}

.about__img {
    border-radius: var(--radius);
    width: 450px;
    height: 550px;
}

.about__description {
    margin-bottom: 4rem;

}


.section__title {
    font-size: 3rem;
    text-align: center;   /* center horizontally */
    margin-bottom: 3rem;  /* space below title */
}



.tabs__btns {
    display: flex;
    column-gap: 4rem;
    margin-bottom: 1.25rem;
    justify-content: center;
    align-items: center;
    margin-left: -6rem;
}

.tabs__btn,
.tabs__description span:first-child {
    color: var(--title-color);
    font-weight: var(--weight-700);
    font-size: var(--h3-font-size);
}

.tabs__btn {
    cursor: pointer;
    color: var(--title-color);
    position: relative;
    padding-bottom: 0.5rem;
}

.tabs__btn::after {
    content: '';
    padding: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    height: 2px;
    background-color: var(--text-color);
    transition: all 0.3s var(--transtion);
}

.tabs__data {
    row-gap: 2rem;
}

.tabs__description span:last-child {
    display: block;
}



/* Active tab */

.tabs__btn.tab__active {
    color: var(--first-color);
}

.tabs__btn.tab__active::after {
    background-color: var(--first-color);
    width: 100%;
}

.tabs__item[data-content] {
    display: none;
}

.tab__active[data-content] {
    display: block;
}


/* */

.edu-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.edu-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 0.25rem;
}


/*=============== SERVICES ===============*/

.section__title {
    margin-bottom: 3rem;
}


.services .subsection__title:first-of-type {
    margin-top: -2rem;
}

.services .subsection__title:last-of-type {
    margin-top: .5rem;
}

.services__container {
    grid-template-columns: repeat(4, 1fr);

}

.services__item {
    margin-top: -2rem;
    background-color: var(--container-color);
    padding: 1rem 2rem;
    border-radius: var(--radius);
}

.services__icon {
    color: var(--first-color);
    font-size: 3.25rem;
}

.services__title {
    font-size: var(--h3-font-size);
    font-weight: var(--weight-500);
    margin-block: 1rem 1.25rem;
}



.services__description {
    font-weight: var(--weight-400);
}

/* extra */





/*=============== WORK ===============*/

/* Work hover */

/*=============== CONTACT ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL UP ===============*/

/* Show scrollup */

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

/* For medium devices */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
}
